@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.priority-medium {
  background-color: rgba(255, 193, 7, .1);
  color: #ffc107;
}

.priority-high {
  background-color: rgba(220, 53, 69, .1);
  color: #dc3545;
}

.priority-low {
  background-color: rgba(13, 202, 240, .1);
  color: #0dcaf0;
}

.priority-track {
  background-color: rgba(25, 135, 84, .1);
  color: #198754;
}

.priority-text {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.125rem 0.625rem;
  border-radius: 9999px;
}